ALTER TABLE public.assignments ADD COLUMN allowed_formats text[] DEFAULT '{}'; ALTER TABLE public.submissions ADD COLUMN submission_link text; ALTER TABLE public.submissions ALTER COLUMN file_url DROP NOT NULL; ALTER TABLE public.submissions ALTER COLUMN file_name DROP NOT NULL; ALTER TABLE public.submissions ALTER COLUMN file_size DROP NOT NULL;
